header {
    background-color: #e0dd18;
    color: #FFFFFF;
    text-align: center;
    max-width:800px;
    margin:0 auto;
    padding:16px;
}

    main{
    background-color: #052d53;
    color: #008000; 
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    }

    img{
        width: 120px;
        height: 120px;
    }